.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .page-title {
    color: #000000;
    font-size: 13pt;
    font-family: "NanumSquare", sans-serif;
    width: 40%;
  }
}

.line-bottom {
  border-bottom: 1px solid #ddd;
}
