.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    margin-left: 50px;
    color: #e2cb00;
    font-size: 18pt;
    font-family: "NanumSquare", sans-serif;
    cursor: pointer;

    .front-weight {
      font-weight: 300;
    }

    .back-weight {
      font-weight: 800;
    }
  }

  .page-title {
    margin-right: 50px;
    color: #ffffff;
    font-size: 12pt;
    font-family: "NanumSquare", sans-serif;
  }
}

.line-bottom {
  border-bottom: 1px solid #ddd;
}