.side-menu {
  width: 100px;
  background: #945234;

  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    place-content: center;

    .menu-padding {
        padding: 5px;
    }
  }
}
