.menu {
  display: flex;

  //메뉴 기본 상태
  .menu-btn {
    flex: 1;
    cursor: pointer;
    text-align: center;
  }

  //메뉴 마우스 over 됐을 때 상태
  .menu-btn:hover {
    color: rgb(255, 208, 0);
  }

  //메뉴 선택 되어있는 상태
  .selected-menu {
    color: brown;
  }
}
