.skill-progress-container {
  margin-top: 10px;

  .graph-container {
    position: relative;

    .graph-center-text {
      position: absolute;
      width: 100%;
      font-size: 2rem;
    }
  }

  .graph-full-text {
    font-size: 1rem;
    text-align: left;
  }
}
