.skill-progress-container {
  margin-bottom: 50px;

  .graph-container {
    position: relative;

    .graph-center-text {
      position: absolute;
      width: 100%;
      top: 30%;
      font-size: 2rem;
    }
  }

  .graph-full-text {
    font-size: 1rem;
  }
}
