.abs {
  position: absolute;
}

.nanumsquare-light {
  font-weight: 300;
}

.nanumsquare-extra-bold {
  font-weight: 800;
}

.nanumsquare-regular {
  font-weight: 400;
}

.nanumsquare-bold {
  font-weight: 700;
}

.yellow-font {
  color: #f0cb23;
}
