@import url(https://fonts.googleapis.com/css2?family=Tinos:ital@1&display=swap);

.career-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 44px;
  align-items: center;

  //자격증 영역
  .license-skill-container {
    display: flex;
    width: 100%;
    height: 70%;
    position: absolute;

    .license-container {
      flex: 1;
      height: 100%;
      margin: 0 80px;
      background: rgb(245, 245, 245);
      text-align: left;

      .license-title {
        font-size: 30pt;
        font-family: "Tinos", serif;
        color: #000000;
        text-align: left;
      }

      .circle {
        width: 50px;
        height: 50px;
        background: #ffb000;
        border-radius: 100px;
      }

      .license-contents {
        margin: 20px 0;
        font-size: 12pt;

        .license-date {
          font-size: 9pt;
        }
      }
    }

    //스킬 영역
    .skill-container {
      flex: 1;
      height: 100%;
      margin: 0 80px;
      background: rgb(245, 245, 245);
      display: flex;
      justify-content: space-around;

      .left-chart-container {
        align-self: center;
      }

      .right-chart-container {
        align-self: center;
      }
    }
  }
  //애니메이션
  // .animation-container {
  //   margin: -45px -60px;
  //   width: 120px;
  //   height: 90px;
  //   position: absolute;
  //   top: 80%;
  //   left: 80%;

  //   .dot {
  //     background: #fff;
  //     border-radius: 50%;
  //     width: 30px;
  //     height: 30px;
  //     position: absolute;
  //     bottom: 30px;
  //     left: 27px;
  //     transform-origin: center bottom;
  //     animation: dot 0.6s ease-in-out infinite;
  //   }

  //   @keyframes dot {
  //     0% {
  //       transform: scale(1, 0.7);
  //     }
  //     20% {
  //       transform: scale(0.7, 1.2);
  //     }
  //     40% {
  //       transform: scale(1, 1);
  //     }
  //     50% {
  //       bottom: 100px;
  //     }
  //     46% {
  //       transform: scale(1, 1);
  //     }
  //     80% {
  //       transform: scale(0.7, 1.2);
  //     }
  //     90% {
  //       transform: scale(0.7, 1.2);
  //     }
  //     100% {
  //       transform: scale(1, 0.7);
  //     }
  //   }

  //   .step {
  //     position: absolute;
  //     width: 30px;
  //     height: 30px;
  //     border-top: 2px solid #fff;
  //     top: 0;
  //     right: 0;
  //   }

  //   @keyframes anim {
  //     0% {
  //       opacity: 0;
  //       top: 0;
  //       right: 0;
  //     }
  //     50% {
  //       opacity: 1;
  //     }
  //     100% {
  //       top: 90px;
  //       right: 90px;
  //       opacity: 0;
  //     }
  //   }

  //   .s1 {
  //     animation: anim 1.8s linear infinite;
  //   }

  //   .s2 {
  //     animation: anim 1.8s linear infinite -0.6s;
  //   }

  //   .s3 {
  //     animation: anim 1.8s linear infinite -1.2s;
  //   }
  // }
}
