@import url(https://fonts.googleapis.com/css2?family=Tinos:ital@1&display=swap);

.career-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 44px;
  align-items: center;

  //자격증 영역
  .license-skill-container {
    display: flex;
    width: 100%;
    height: 70%;
    position: absolute;

    .license-container {
      flex: 1;
      height: 100%;
      margin: 0 150px;
      background: rgb(236, 236, 236);
      text-align: left;

      .circle_top {
        position: absolute;
        top: 50px;
        left: 850px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: #ffb000;

        animation: move1 3s ease infinite;

        @keyframes move1 {
          50% {
            top: -30px;
            left: 700px;
          }
        }
      }

      .circle_bottom {
        position: absolute;
        top: 550px;
        left: 30px;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: #ffb000;

        animation: move2 3s ease infinite;
   
        @keyframes move2 {
          50% {
            top: 530px;
            left: 70px;
          }
        }
      }

      .license-title {
        font-size: 50pt;
        font-family: "Tinos", serif;
        color: #000000;
        text-align: center;
        margin: 50px 0 50px 0;
      }

      .license-contents {
        margin: 20px 0;
        font-size: 14pt;
        text-align: center;

        .desc {
          transition: background-size 0.4s ease;
          background: linear-gradient(to bottom, transparent 62%, #fff 0)
            center center/0% 75% no-repeat;
          padding: 0 6px 2px 6px;
          cursor: pointer;
          letter-spacing: 0.08rem;

          &:hover {
            background-size: 100% 100%;
          }

          .license-date {
            font-size: 9pt;
          }
        }
      }
    }

    //스킬 영역
    .skill-container {
      flex: 1;
      margin: 0 80px;
      justify-content: space-around;

      .text {
        font-size: 13px;
        text-align: left;
      }

      .chart {
        display: flex;

        i {
          float: left;
          font-size: 60px;
          margin: 20px;
        }
      }
    }
  }
}
