.intro-container {
  width: 100%;
  height: 100%;
  display: flex;
  background: linear-gradient(to bottom, #000000, #111111);
  justify-content: space-between;

  .intro-content {
    align-self: center;
    margin-left: 20%;
    text-align: left;

    .first-line {
      margin-bottom: 18px;
    }

    .second-line {
      font-family: "Bombardier", sans-serif;
    }

    .third-line {
      margin-bottom: 30px;
      font-family: "Bombardier", sans-serif;
    }

    .fourth-line {
    }
  }

  .intro-image-area {
    display: flex;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;

    .intro-image {
      position: absolute;
      align-self: flex-end;
      right: 0;
      bottom: 0;
    }

    .blood-hand-image1 {
      position: absolute;
      right: 0;
      bottom: 450px;
      opacity: 0;
    }

    .blood-hand-image2 {
      position: absolute;
      right: 100px;
      bottom: 520px;
      transition-delay: 1s;
    }

    .blood-hand-image3 {
      position: absolute;
      right: 200px;
      bottom: 430px;
      transition-delay: 3s;
    }
  }
}

.font-size-12pt {
  font-size: 12pt;
}

.font-size-30pt {
  font-size: 30pt;
}

.font-size-12pt {
  font-size: 10pt;
}
