.intro-container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #000000;
  background-size: auto;
  justify-content: center;

  .intro-content {
    align-self: center;
    padding-right: 15px;
  }

  .intro-text-cursor {
    border-right: 0.5em solid #fff;
    animation: blink 1s step-end infinite;
  }

  @keyframes blink {
    0%,
    100% {
      border-color: transparent;
    }
    50% {
      border-color: #fff;
    }
  }
}

.font-size-50pt {
  font-size: 50pt;
}