@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(https://fonts.googleapis.com/css2?family=Tinos:ital@1&display=swap);
.profile-container {
  width: 100%;
  height: 100%;
  padding-top: 45px;
  display: flex;

  .left-contents {
    background: #ffb000;
    box-shadow: inset -8px 6px 50px 0px darkorange;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;

    .profile-contents {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: 1fr;

      .stats {
        text-align: left;
        margin: 0 0 75px 10px;
        align-self: flex-end;

        .box {
          font-size: 20px;

          &:hover {
            color: #d70707;
            cursor: pointer;
          }
        }
      }
    }

    .profile-text {
      color: #d70707;
      place-self: end;
      margin: 0 240px 5px 0;
      font-family: "Tinos", serif;
    }

    .profile-img {
      width: 100%;
      height: auto;
    }
  }

  .right-contents {
    background: whitesmoke;
    box-shadow: inset 8px 6px 50px 0px darkgrey;
    flex: 1;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;

    .main-title {
      text-align: center;
      font-size: 30pt;
      font-family: "Tinos", serif;
      place-self: center;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      color: #ffb000;
    }

    .contents-text {
      font-size: 10.5pt;
      text-align: justify;
      place-self: center;
      justify-self: left;
      display: flex;

      .text-a {
        width: 100%;
        margin-right: 70px;
      }
      .text-b {
        width: 100%;
        margin-right: 70px;
      }
    }
  }
}
